*{
    padding: 0;
    margin: 0;
}

.tebel{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



#porful{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    padding: 80 200;
    height: 100vh ;
    /* lebar ngikut layar apapun */
    width: 110vw;
    font-family: 'Times New Roman', Times, serif;
}

.gambar{
    width: 45vw;
    height: 50vw;

    /* height: 200v; */
    border-radius: 20%;
    vertical-align: middle;
    background-color: transparent;
    display: flex;
    padding-top: 110px;
}

.bio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.data{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#porto{
    /* background-color: brown; */
    width: 40vw;
    padding: 10vw 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 30px;
}

#porimg{
    /* background-color: chartreuse; */
    width: 50vw;
    display: flex;
    justify-content:center;
    /* horizontal */
    align-items: center;
    /* vertical */
}

h1{
    font-size: 80px;
}
h3{
    font-weight: 100;
}

h5{
    font-weight: 100;
    font-size: 30px;
}

.pisah{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.dtbase{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* pake vw itu relatif dari laya total  */
/* persen relatif terhadap kotak atas  */

/* kalo mau atur ukuran layar pake media queries */